<!DOCTYPE html>
<html>
  <head>
    <title>Rails6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class= "app-title navbar navbar-expand-md navbar-light bg-light">
	    <a class= "navbar-brand" href="#">投稿アプリ</a>
    </nav>
    <div class="container">
	<%= yield %>
    </div>
  </body>
</html>
